.nav-link{
    text-decoration: none;
    color: var(--light-color);
    margin: 10px;
}
.container--icon{
    --transition-time: 0.35s;

    width: auto;
    padding: 5px;

    transition:
        color var(--transition-time),
        background-color var(--transition-time);
}

.container--icon:hover{
    background-color: var(--light-color);
    color: var(--dark-contrast);
}