.container{   
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--dark-color);
    box-shadow: 0 0 10px var(--light-color);
    border-radius: 10px;
}
